hr {
	border: none;
	background-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
	height: 2px;
}
.text {
	font-size: 20px;
}
img {
	margin-right: 20em;
}
.first {
	margin: 0 0 15em 10em;
}
.second, .third, .fourth {
	margin-left: 10em;
}
.num {
	font-size: 50px;
}